body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}
.imdb {
  width: 2rem;
  height: 1rem;
  object-fit: cover;
}
.bottom-img {
  object-fit: contain;
  height: 4rem;
  width: 7rem;
}
.mood-images {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h4 {
  color: cadetblue;
}
